<div class="home">

  <div class="top-right"><a href="https://discord.gg/vBgb85N"><img src="https://i.vgy.me/YrTrsE.png" alt="join my Discord"></a></div>
          <div class="top-left"><a href="https://www.patreon.com/metroite"><img src="https://img.shields.io/endpoint.svg?url=https%3A%2F%2Fshieldsio-patreon.herokuapp.com%2FMetroite&style=for-the-badge" alt="pledge on Patreon"></a></div>

<div class="text-center">

    <div class="vertical-space"></div><div class="vertical-space"></div>
    <div class="center-row"><a href="https://www.youtube.com/channel/UCfdVx0XNqSwuoftDcLgiXfg"><img src="https://raw.githubusercontent.com/Metroite/DownGit/master/res/images/metroite.png" alt="Metroite"></a></div>
    <div class="btn-group center-row">
        <button type="button" class="btn btn-outline-light" style="color:gray" ng-click="browseFiles()"><h3>Back to Homepage</h3></button>
    </div>

    <div ng-show="isProcessing.val">
        <div class="vertical-space"></div>
        <img class="processing-img" src="res/images/processing.webp" />
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>


    <div class="col-md-6 center-row" ng-show="downUrl">
        <div class="vertical-space"></div>
        <textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
    </div>

    <div class="vertical-space"></div>
    <div class="footer">
      <ul id="parent">
        <a href="https://github.com/Metroite/datapacks/blob/master/LICENSE" alt="License">
          <img src="https://img.shields.io/github/license/Metroite/datapacks" /></a>
        <a href="https://github.com/Metroite/datapacks/releases" alt="Tag">
          <img src="https://img.shields.io/github/tag/Metroite/datapacks" /></a>
        <a href="https://github.com/Metroite/datapacks" alt="Activity">
          <img src="https://img.shields.io/github/commit-activity/m/Metroite/datapacks?foo=bar" /></a>
        <a href="https://discord.gg/vBgb85N">
          <img src="https://img.shields.io/discord/568512487473938482?logo=discord" alt="chat on Discord"></a>
        <div class="g-ytsubscribe" data-channelid="UCfdVx0XNqSwuoftDcLgiXfg" data-layout="default" data-theme="dark" data-count="default"></div>
      </ul>
    </div>

</div>
</div>
